{% macro escapeText(text, dangerouslyDisableAutoEscaping=false) %}
  {% if dangerouslyDisableAutoEscaping %}
    {{ text | safe}}
  {% else %}
    {{ text }}
  {% endif %}
{% endmacro %}

{% if loaded %}
    {% if config.showAsList %}
                                    
    {% else %}

        <div>

            <table>
                <thead>
                    <tr>

                        <th>Logo</th>
                        <th>Servo Name</th>
                        <th>Today Price</th>
                        <th>Tomorrow Price</th>
                        <th>Yesterday Price</th>
                    </tr>   
                </thead>
                <tbody>
                    {%for item in items  %}
        
                        <tr>
                            <td> <img src="..\modules\default\newsfeed\logo\{{item.brand}}.svg" width = "50" height = "50"   /> </td>
                            <td>{{item.trading_name}}</td>                        
                            <td>{{item.price}}</td>
                            <td>{{item.pricetomorrow}}</td>
                            <td>{{item.priceyesterday}}</td>
                        {% endfor %}

                        </tr>
                </tbody>
            </table>




            {% if config.showDescription %}
                <div class="newsfeed-desc small light{{ ' no-wrap' if not config.wrapDescription }}">
                    {% if config.truncDescription %}
                        {{ escapeText(description | truncate(config.lengthDescription), config.dangerouslyDisableAutoEscaping) }}

                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% elseif empty %}
    <div class="small dimmed">
        {{ "NEWSFEED_NO_ITEMS" | translate | safe }}
    </div>
{% elseif error %}
    <div class="small dimmed">
        {{ "MODULE_CONFIG_ERROR" | translate({MODULE_NAME: "Newsfeed", ERROR: error}) | safe }}
    </div>
{% else %}>
{% endif %}
